@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model EMS.Models.EmployeeInfoViewModel
@{
}
<a class="nav-link text-dark" asp-area="" asp-controller="Employee" asp-action="Displayemployess">Employee Info</a>
<h1>Form</h1>
<form asp-controller="Employee" asp-action="Create" method="post">
<div class="row">
    <div class="col-sm-4">
        <label>First Name</label>
        <input asp-for="FirstName" class="form-control" placeholder="Enter your first name" />
        @* <input type="text" name="FirstName" class="form-control" placeholder="Enter your first name" /> *@
        @* @Html.TextBoxFor(x=>x.FirstName) *@
    </div>
    <div class="col-sm-4">
        <label>Last Name</label>
        <input asp-for="LastName" class="form-control" placeholder="Enter your last name" required/>
    </div>
    <div class="col-sm-4">
        <label>Email</label>
            <input asp-for="Email" class="form-control" placeholder="Ënter your email" required/>
    </div>
    <div class="col-sm-4">
        <label>PhoneNo</label>
        <input asp-for="Phoneno" class="form-control"  placeholder="Enter your phoneno" required/>
    </div>
    <div class="col-sm-4">
        <label>Gender</label>
        <input asp-for="Gender" class="form-control" placeholder="Enter your gender" required/>
    </div>
    <div class="col-sm-4">
        <label>Address</label>
        <input asp-for="Address" class="form-control" placeholder="Enter your address" required/>
    </div>
    <div class="col-sm-4">
        <label>Profile</label>
        <input asp-for="ProfileImagePath"  type="file" class="form-control" placeholder="Enter your profileimagepath" />
    </div>
    <div class="colsm-12">
    </div>
    <div class="col-sm-3">
        <input type="submit" class="btn btn-success mt-3"/>
    </div>
</div>
</form>